#Hauptlayout #header {
    margin: 0px;
    width: auto;
    height: 60px;
    padding: 10px;
    background-color: grey;
    font-size: 30px;
}

#Hauptlayout #Sidebar {
    /* float: left; */
    position: fixed;
    width: 150px;
    min-height: 600px;
    background-color: lightgrey;
    padding: 5px;
}

#Hauptlayout #content {
    margin-left: 155px;
    padding: 0px 10px;
}