#Itemcard {
    width: 220px;
    height: 280px;
    border: 14px;
    padding: 20px;
    border-color: beige;
    background-color: grey;
    float: left;
    margin: 7px;
}

#Itemcard p {
    padding: 10px;
    font-size: 16px;
}

#Itemcard h1 {
    margin: 0px;
    margin-bottom: 6px;
}