<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href=" {{ url_for('static', filename='Hauptlayout.css') }}" />
    <link rel="stylesheet" href=" {{ url_for('static', filename='Buttons.css') }}" />
    <link rel="stylesheet" href=" {{ url_for('static', filename='category.css') }}" />
    <link rel="stylesheet" href=" {{ url_for('static', filename='Itemcard.css') }}" />
    <link rel="stylesheet" href=" {{ url_for('static', filename='Itemslice.css') }}" />
    <link rel="stylesheet" href=" {{ url_for('static', filename='Loginp.css') }}" />
    <link rel="stylesheet" href=" {{ url_for('static', filename='navigationsleiste.css') }}" />
    <link rel="stylesheet" href=" {{ url_for('static', filename='Register.css') }}" />
    <link rel="stylesheet" href=" {{ url_for('static', filename='Sbar.css') }}" />
    <link rel="stylesheet" href=" {{ url_for('static', filename='Search.css') }}" />
    <link rel="stylesheet" href=" {{ url_for('static', filename='Tleiste.css') }}" />
    <link rel="stylesheet" href=" {{ url_for('static', filename='Warenkorb.css') }}" />
    <link rel="stylesheet" href=" {{ url_for('static', filename='welcomecon.css') }}" />
</head>

<body id="Hauptlayout">
    <div id="header">
        {%autoescape false%} {{ header }} {%endautoescape%}
    </div>
    <div id="SBar">
        {%autoescape false%} {{ SBar }} {%endautoescape%}
    </div>
    <div id="content">
        {%autoescape false%} {{ content }} {%endautoescape%}
    </div>
</body>