<link rel="stylesheet" href=" {{ url_for('static', filename='Loginp.css') }}" />

<h1> Login In</h1>
<form>
    <div class="formline">
        <label>Username</label> <br>
        <input type="text" name="username" />
    </div>
    <div class="formline">
        <label>Password</label> <br>
        <input type="text" name="password" />
    </div>
    <br>
    <input class="button" type="button" name="switch" value="Register" />
    <input class="button" type="submit" name="eingabe" value="Absenden" />
</form>
