<div id="Register">
    <h1> Login In</h1>
    <form>
        <div class="formline">
            <label>Username</label> <br>
            <input type="text" name="username" />
        </div>
        <div class="formline">
            <label>Password</label> <br>
            <input type="text" name="password" />
        </div>
        <div class="formline">
            <label>Password bestätigen</label> <br>
            <input type="text" name="password2" />
        </div>
        <input class="button" type="button" name="switch2" value="Login" />
        <input class="button" type="submit" name="eingabe" value="Absenden" />
    </form>
</div>